<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="1">
	<parameter name="platform" value="GuanWang" />
	<parameter name="sourcesDir" value="/src/test/resources" />
	<parameter name="CaseList" value="/case/CaseList.xlsx" />
	<parameter name="BaseURL" value="http://nchr.release.microfastup.com/nchr" />

	<test name="AllApi" preserve-order="true">
		<groups>
			<define name="Process">
				<include name="ProcessTest" />
			</define>
		</groups>
		<classes>
			<class name="com.exercise.rest_assured.AssuredTest">
				<methods>
					<exclude name="ProcessTest" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="education" preserve-order="true">
		<groups>
			<define name="EditEducation">
				<include name="addEducationTest" />
				<include name="editEducationTest" />
				<include name="delEducationTest" />
			</define>
		</groups>
		<classes>
			<class name="com.exercise.rest_assured.EducationTest">
				<methods>
					<exclude name="addEducationTest" />
					<exclude name="editEducationTest" />
					<exclude name="delEducationTest" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="TrainTest" preserve-order="true">
		<groups>
			<define name="Train">
				<include name="addTrainTest" />
				<include name="editTrainTest" />
				<include name="delTrainTest" />
			</define>
		</groups>
		<classes>
			<class name="com.exercise.rest_assured.TrainTest">
				<methods>
					<exclude name="addTrainTest" />
					<exclude name="editTrainTest" />
					<exclude name="delTrainTest" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="JobTest" preserve-order="true">
		<groups>
			<define name="Job">
				<include name="addJob" />
				<include name="editJob" />
				<include name="delJob" />
			</define>
		</groups>
		<classes>
			<class name="com.exercise.rest_assured.JobTest">
				<methods>
					<include name="addJob" />
					<exclude name="editJob" />
					<exclude name="delJob" />
				</methods>
			</class>
		</classes>
	</test>
</suite><!-- Suite -->
