<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="1">
	<parameter name="platform" value="GuanWang" />
	<parameter name="sourcesDir" value="/src/test/resources" />
	<parameter name="CaseList" value="/case/CaseList.xlsx" />
	<parameter name="BaseURL" value="http://nchr.release.microfastup.com/nchr" />
	
	<test name="Basic" preserve-order="true">
		<groups>
			<define name="Basic">
			    <include name="add_Basic_Test" />
				<include name="edit_Basic_Test" />
			</define>
		</groups>
		<classes>
			<class name="com.exercise.rest_assured.BasicTest">
				<methods>
				    <exclude name="add_Basic_Test" />
					<include name="edit_Basic_Test" />
				</methods>
			</class>
		</classes>
	</test>
</suite><!-- Suite -->
